<header class="header">
    <div class="header-content">
        <div class="header-about" style="background-image: url(assets/images/me.png);">
            <a href="{{ site.url }}/about/" title="My Photo"></a>
        </div>
        <div class="header-title">
            <a href="{{ site.url }}" title="Go to Main Page">
                <h1>Tech Blog</h1>
            </a>
        </div>
        <div class="header-social">
            <a href="https://github.com/egorvdot" target="_blank" title="Egor V.'s GitHub Link">
                <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 16 16">
                    {%- include social-icons/github.svg -%}
                </svg>
            </a>
            <a href="https://t.me/egorvdot" target="_blank" title="Egor V.'s Telegram Link">
                <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 16 16">
                    {%- include social-icons/telegram.svg -%}
                </svg>
            </a>
            <a href="mailto:egorvdot@gmail.com" target="_self" title="Egor V.'s Email Address">
                <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 16 16">
                    {%- include social-icons/email.svg -%}
                </svg>
            </a>
        </div>
    </div>
</header>