<header class="header">
    <div class="header-content">
        <div class="header-about" style="background-image: url(assets/images/me.png);">
            <a href="{{ site.url }}/about/" title="Read Article About Me!"></a>
        </div>
        <div class="header-title">
            <a href="{{ site.url }}" title="Go to Blog Page!">
                <h1>Tech Blog</h1>
            </a>
        </div>
        <div class="header-social">
            <a href="https://github.com/egorvdot" target="_blank" title="View GitHub Profile!">
                <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 16 16">
                    {%- include social-icons/github.svg -%}
                </svg>
            </a>
            <a href="https://t.me/egorvdot" target="_blank" title="Ask Question in Telegram!">
                <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 16 16">
                    {%- include social-icons/telegram.svg -%}
                </svg>
            </a>
            <a href="https://boosty.to/egorvdot" target="_self" title="Subscribe on Boosty!">
                {%- include social-icons/donut.svg -%}
            </a>
        </div>
    </div>
</header>