@import "constants";

.content {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 0fr 1fr 0fr;

    @media (min-width: $desktop-min-width) {
        grid-template-columns: 1fr 2fr 1fr;
    }

    .header {
        grid-column-start: 1;
        grid-column-end: 4;
        display: grid;
        grid-template-columns: 0fr 1fr 0fr;

        @media (min-width: $desktop-min-width) {
            grid-template-columns: 1fr 2fr 1fr;
        }
    }

    .main {
        grid-column: 2;
    }

    .footer {
      grid-column: 2;
      text-align: center;
    }
}
