@import "constants";

.header-content {
    margin-top: 0.5rem;
    grid-column: 2;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 3fr 3fr;

    @media (min-width: $display-480px-width) {
        grid-template-columns: 1fr 3fr 2fr;
    }

    @media (min-width: $display-640px-width) {
        grid-template-columns: 1fr 5fr 2fr;
    }

    @media (min-width: $display-800px-width) {
        grid-template-columns: 1fr 10fr 3fr;
    }

    @media (min-width: $desktop-min-width) {
        grid-template-columns: 1fr 3fr 1fr;
    }

    .header-about {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 0;
        width: 3rem;
        padding-bottom: 3rem;
        border-radius: 3rem;

        @media (min-width: $display-480px-width) {
            width: 3.5rem;
            padding-bottom: 3.5rem;
        }

        @media (min-width: $display-640px-width) {
            width: 4rem;
            padding-bottom: 4rem;
        }

        @media (min-width: $display-800px-width) {
            width: 4.5rem;
            padding-bottom: 4.5rem;
        }

        @media (min-width: $desktop-min-width) {
            width: 5rem;
            padding-bottom: 5rem;
            transition: box-shadow $transition-timeout ease;

            &:hover {
                box-shadow: 0 0 1rem #ffffff7c;
            }
        }

        a {
            display: block;
            position: relative;
            height: 0;
            padding-bottom: 3rem;

            @media (min-width: $display-480px-width) {
                padding-bottom: 3.5rem;
            }

            @media (min-width: $display-640px-width) {
                padding-bottom: 4rem;
            }

            @media (min-width: $display-800px-width) {
                padding-bottom: 4.5rem;
            }

            @media (min-width: $desktop-min-width) {
                padding-bottom: 5rem;
            }
        }
    }

    .header-title {
        align-self: center;
        justify-self: center;

        h1 {
            font-size: 1rem;

            @media (min-width: $display-480px-width) {
                font-size: 1.25rem;
            }

            @media (min-width: $display-640px-width) {
                font-size: 1.5rem;
            }

            @media (min-width: $display-800px-width) {
                font-size: 1.75rem;
            }

            @media (min-width: $desktop-min-width) {
                font-size: 2rem;
            }
        }
    }

    .header-social {
        align-self: center;
        justify-self: right;

        a {
            margin-left: 0.5rem;
        }
    }
}