@import "constants";
@import "content";

@mixin hover-menu-link {
    &:hover {
        background-color: lighten($main-background-color, 15%);
    }
}


#menu-icon {
    display: block;
    padding: 0.5rem 2rem;
    @include hover-menu-link;

    @media (min-width: $desktop-min-width) {
        display: none;
    }
}

.navbar {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s;

    &.expand {
        max-height: 90vh;
    }

    .menu {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            list-style-type: none;
            display: block;

            a {
                display: block;
                text-decoration: none;
                padding: 0rem 2rem;
                transition: all 0.2s ease;

                @include hover-menu-link;
            }
        }
    }

    @media (min-width: $desktop-min-width) {
        max-height: none;
        overflow: auto;
        transition: none;

        &.expand {
            max-height: auto;
        }

        .menu li a {
            padding: 0;
            transition: none;

            &:hover {
                background-color: transparent;
            }
        }
    }
}

.content {
    .aside {
        grid-column: 1;
        text-align: right;
    }

    .main {
        grid-column: 2;
    }
}