<!DOCTYPE html>
<html lang={{ page.lang | default: site.lang | default: "ru" }}>

{% include head.html %}

<body>
  <div class="app">
    <header class="header">
      <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <p>{{ page.description | default: site.description | default: site.github.project_tagline }}</p>
      <hr />
    </header>

    {{ content }}

    <footer class="footer">
      {% if site.github.is_project_page %}
      <p>Блог ведёт <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
      {% endif %}
    </footer>
  </div>

  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
  <script>
    $(document).ready(function () {
      $('#menu-icon').on('click', function () {
        $('.navbar').toggleClass('expand');
        return false;
      });
    });
  </script>
</body>

</html>
