<!DOCTYPE html>
<html lang={{ page.lang | default: site.lang | default: "ru" }}>

{% include head.html %}

<body>
  <div class="content">
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
  </div>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
  <script>
    $(document).ready(function () {
      $('#menu-icon').on('click', function () {
        $('.navbar').toggleClass('expand');
        return false;
      });
    });
  </script>
</body>

</html>